@import '../../../../styles.scss';

// overview
section{
  &.overview{
    margin-top: -70px;
    .container{
      .mat-card{
        padding: 15px;
        h1{
          font-size: 28px;
          text-align: right;
          color: $font-white;
        }
        p{
          color: $font-white;
          font-size: 15px;
          text-align: center;
        }
        
        .total-votes{
          background-color: $bg-counted;          
        }
        .pending-votes{
          background-color: $bg-pending;
        }
        .valid-votes{
          background-color: $bg-valid;
        }
        .invalid-votes{
          background-color: $bg-invalid;
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  section{
    &.overview{
      margin-top: -70px;
      .container{
        .mat-card{
          margin-bottom: 12px;
          .fix-card-margin{
            margin-bottom: 5px;
          }
          h1{
            text-align: center !important;
          }
        }
      }
    }
  }
}