<header class="nav-title">
  <div class="container">
    <h1 class="highlight">Apura Brasil</h1>
    <h2 class="highlight">Acompanhe em tempo real as apurações</h2>
    <p>A fonte das informações desta página é o Tribunal Superior Eleitoral. Segundo esclarece o TSE, <br> o candidato que aparece com 0 (zero) voto pode não ter tido seus votos validados, <br> devido à situação jurídica ou à do seu partido </p>
  </div>
</header>

<section class="overview">
  <div class="container">
    <mat-card>
      <div class="row">
        <div class="col-md-3 col-sm-12 col-xm-12">
          <mat-card class='total-votes'>
            <div class="row">
              <div class='col-sm-6 col-xm-6'>
                <p>Votos<br>contabilizados</p>
              </div>
              <div class='col-sm-6 col-xm-6'>
                <mat-spinner [diameter]=40 *ngIf="loading"></mat-spinner>
                <!--                                        Votos Contabilizados -->
                <h1 *ngIf="!loading" class="highlight">2%</h1>
              </div>
            </div>
          </mat-card>
        </div>
        <div class="col-md-3 col-sm-12">
          <mat-card class="pending-votes">
            <div class="row">
              <div class='col-sm-6 col-xm-6'>
                <p>Votos<br>Restantes</p>
              </div>
              <div class='col-sm-6 col-xm-6'>
                <mat-spinner [diameter]=40 *ngIf="loading"></mat-spinner>
                <!--                                          Votos pendentes -->
                <h1 *ngIf="!loading" class="highlight">21%</h1>
              </div>
            </div>
          </mat-card>
        </div>
        <div class="col-md-3 col-sm-12">
          <mat-card class="valid-votes">
            <div class="row">
              <div class='col-sm-6 col-xm-6'>
                <p>Votos<br>Validos</p>
              </div>
              <div class='col-sm-6 col-xm-6'>
                <mat-spinner [diameter]=40 *ngIf="loading"></mat-spinner>
                <!--                                          Votos Validos -->
                <h1 *ngIf="!loading" class="highlight">33%</h1>
              </div>
            </div>
          </mat-card>
        </div>
        <div class="col-md-3 col-sm-12">
          <mat-card class="invalid-votes">
            <div class="row">
              <div class='col-sm-6 col-xm-6'>
                <p>Votos<br>Invalidos</p>
              </div>
              <div class='col-sm-6 col-xm-6'>
                <mat-spinner [diameter]=40 *ngIf="loading"></mat-spinner>
                <!--                                         Votos invalidos -->
                <h1 *ngIf="!loading" class="highlight">45%</h1>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </mat-card>
  </div>
</section>

<section class="candidates">
  <div class="container">
    <mat-card>
      <button mat-stroked-button color="primary" (click)='getCandidatesGlobo()'>Atualizar</button>
      <span *ngIf="loading"><br>Atualizando...</span>
      <h1 class="highlight">
        Presidente
        <span *ngIf="!loading">98%</span>
          <span *ngIf="loading">
           <mat-spinner [diameter]=20 *ngIf="loading"></mat-spinner>
          </span>
      </h1>
      <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
      <mat-progress-bar *ngIf="!loading" mode="determinate" value=""></mat-progress-bar>
      <p>Votos contabilizados: 125555
          <!-- loading -->
        <mat-spinner [diameter]=20  *ngIf="loading"></mat-spinner>
        <!-- votesCounted -->
        <span *ngIf="!loading">
          
        </span> 
      </p>
      <!-- candidates table -->
      <div class='candidate-info'>
        <div class="row">
          <div class="col-md-2 col-sm-4">
            <div class='candidate-img'><img src='../assets/candidates/17.jpg'></div>
          </div>
          <div class="col-md-2 col-sm-8">
            <h1 class="highlight"></h1>
            <p class='text-overflow' *ngIf="!loading" >Partido: xpto </p>
            <p *ngIf="!loading">Numero: 17</p>
          </div>
          <div class="col-md-8 col-sm-12">
            <h1 class="highlight text-right votes-candidate">90 %</h1>
            <div class="candidate-bar">
            <small *ngIf="!loading" >Votos: 1200 </small>
              <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
              <mat-progress-bar *ngIf="!loading" mode="determinate" value=""></mat-progress-bar>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</section>

<footer>
  <div class="row">
    <img src=''>
    <img>
  </div>
  <p>Esse projeto foi desenvolvido em 24 horas em uma live no <a href="https://www.twitch.tv/videos/319374401">twitch</a> e o código font esta disponivel no <a href="https://github.com/raphaelcrv/apura-brasil-2018">github</a> <br> acompanhe as novidades e siga-me no <a href="twitter.com/raphaelcrv">twitter</a></p>
  <p>Copyright © 2018 RSDigital</p>
</footer>

