@import '../styles.scss';

header {
  background: url('/src/assets/bg-header.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 420px;
  background-position: 0px -150px;
  &.nav-title{
    padding: 110px 0 0 0;
  }
  // colors style
  h1,h2,p{
    color: #fff;
    text-align: center;
  }
  // font-sizes
  h1{
    font-size: 48px;
  }
  h2{
    font-size: 38px;
  }
  p{
    font-size: 18px;
  }
}

// default sections
section{
  margin-bottom: 25px;
  &.candidates, &.overview{
    .container{
      >.mat-card{
        padding: 40px !important;
      }
    }
  }
}

// overview
section{
  &.overview{
    margin-top: -70px;
    .container{
      .mat-card{
        padding: 15px;
        color: $font-white;
        h1{
          font-size: 28px;
          text-align: right;
        }
        p{
          font-size: 15px;
          text-align: center;
        }
        
        .total-votes{
          background-color: $bg-total;          
        }
        .valid-votes{
          background-color: $bg-valid;
        }
        .invalid-votes{
          background-color: $bg-invalid;
        }
        .canceled-votes{
          background-color: $bg-canceled;
        }
      }
    }
  }
}

// candidates
section{
  &.candidates{
    .container{
      .mat-card{
        .candidate-info{
          padding: 10px;
          margin: 20px 0;
          border: 1px solid #f1f1f1;
        }
      }
    }
  }
}

@media only screen and (max-width: 620px) {
  section{
    margin: 25px;
  }
}