@import '../styles.scss';

header {
  background: url('../assets/bg-header.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 420px;
  background-position: 0px -150px;
  &.nav-title{
    padding: 95px 0 0 0;
  }
  // colors style
  h1,h2,h4,p{
    color: #fff;
    text-align: center;
  }
  // font-sizes
  h1{
    font-size: 48px;
  }
  h2{
    font-size: 38px;
  }
  h4{
    font-size: 22px;
    font-weight: 400;
    padding: 0;
    margin: 0;
  }
  p{
    font-size: 11px;
  }
}




@media only screen and (max-width: 991px) {

  header {
    &.nav-title{
      padding: 110px 0 0 0;
    }
    // colors style
    h1,h2,p{
      color: #fff;
      text-align: center;
    }
    // font-sizes
    h1{
      font-size: 35px;
    }
    h2{
      font-size: 25px;
    }
    p{
      font-size: 14px;
    }
  }
}

