<header class="nav-title">
  <div class="container">
    <h1 class="highlight">Apura Brasil</h1>
    <h4>(2º Turno)</h4>
    <h2 class="highlight">Acompanhe em tempo real as apurações</h2>
    <p>A fonte das informações desta página é o Tribunal Superior Eleitoral. Segundo esclarece o TSE, <br> o candidato que aparece com 0 (zero) voto pode não ter tido seus votos validados, <br> devido à situação jurídica ou à do seu partido </p>
  </div>
</header>

<app-candidates></app-candidates>

<app-footer></app-footer>