/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
//bg colors
$bg-body: #F1F1F1; 

// card overview
$bg-counted: #1ABC9C; //contabilizados
$bg-pending: #656565; //pendentes
$bg-valid: #3498DB;   //validos
$bg-invalid: #E74C3C;//invalidos

// font Color
$font-default: #414141;
$font-white: #fff;


html, body { height: 100%; background: $bg-body }
body { margin: 0; font-family: 'Roboto', sans-serif; }

h1,h2,h3,p{
  color: $font-default;
  margin: 0px;
  font-weight: normal;
  &.highlight{
    font-weight: 500;
  }
}

h1{
  &.text-right{
    text-align: right!important;
  }
}


::ng-deep .mat-progress-bar-fill::after {
    background-color: $bg-counted;
}

::ng-deep .mat-progress-bar-buffer {
    background: #E4E8EB;
}