<section class="candidates">
  <div class="container">
    <mat-card>
      <!-- <button mat-stroked-button color="primary" (click)='getCandidatesGlobo()'>Atualizar</button> -->
      
      <mat-spinner style="display: inline-block" [diameter]=20></mat-spinner>
      <p style="display: inline; ">&nbsp;&nbsp; Atualizando em .. 3 </p>
      <h1 class="highlight">
        Presidente
        <span>98%</span>
      </h1>
      <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
      <mat-progress-bar *ngIf="!isLoading" mode="determinate" value=""></mat-progress-bar>
      <p>
        <!-- votesCounted -->
        <span>
          Votos contabilizados: 125555
        </span>
      </p>
      <h2>Candidatos:</h2>
      <!-- candidates table -->
      <div class='candidate-info'>
        <div class="row">
          <div class="col-md-2 col-sm-4">
            <div class='candidate-img'><img src='../assets/candidates/17.jpg'></div>
          </div>
          <div class="col-md-2 col-sm-8">
            <h1 class="highlight"></h1>
            <p class='text-overflow'>Partido: xpto </p>
            <p>Numero: 17</p>
          </div>
          <div class="col-md-8 col-sm-12">
            <h1 class="highlight text-right votes-candidate">98%</h1>
            <div class="candidate-bar">
              <small>Votos: 1200 </small>
              <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
              <mat-progress-bar *ngIf="!isLoading" mode="determinate" value=""></mat-progress-bar>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</section>