<section class="candidates">
  <div class="container">
    <mat-card>
      <button mat-stroked-button color="primary" (click)='getCandidatesGlobo()'>Atualizar</button>
      <span *ngIf="loading"><br>Atualizando...</span>
      <h1 class="highlight">
        Presidente
        <span *ngIf="!loading">98%</span>
        <span *ngIf="loading">
          <mat-spinner [diameter]=20 *ngIf="loading"></mat-spinner>
        </span>
      </h1>
      <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
      <mat-progress-bar *ngIf="!loading" mode="determinate" value=""></mat-progress-bar>
      <p>
        <!-- loading -->
        <mat-spinner [diameter]=20 *ngIf="loading"></mat-spinner>
        <!-- votesCounted -->
        <span *ngIf="!loading">
          Votos contabilizados: 125555
        </span>
      </p>
      <h2>Candidatos:</h2>
      <!-- candidates table -->
      <div class='candidate-info'>
        <div class="row">
          <div class="col-md-2 col-sm-4">
            <div class='candidate-img'><img src='../assets/candidates/17.jpg'></div>
          </div>
          <div class="col-md-2 col-sm-8">
            <h1 class="highlight"></h1>
            <p class='text-overflow' *ngIf="!loading">Partido: xpto </p>
            <p *ngIf="!loading">Numero: 17</p>
          </div>
          <div class="col-md-8 col-sm-12">
            <h1 class="highlight text-right votes-candidate">90 %</h1>
            <div class="candidate-bar">
              <small *ngIf="!loading">Votos: 1200 </small>
              <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
              <mat-progress-bar *ngIf="!loading" mode="determinate" value=""></mat-progress-bar>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</section>